{% extends 'base.html.twig' %}

{% block title %}Connexion | Sciences Po Saint-Germain-en-Laye{% endblock %}

{% block body %}
<style>
body{padding: 0; height: 100vh}
   h1{text-align: center}
    .example-wrapper {  margin: 3em auto; max-width: 1000px; width: 100%; font: 18px/1.5 sans-serif; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 70vh}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    section{display:flex; height: 100vh;}
    .section__right, .section__left{width: 50%}
    .section__right{display: flex; justify-content: center; align-items: center; flex-direction: column}
    .section__left{background: rgba(33,83,79,.8); z-index: 2}
    .text{ position: absolute; width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(33, 82,79, .8);
    font-size: 1.5rem;
    font-family: 'Oree';
    flex-direction: column;
    padding: 0 50px;
    }
    .section__left img{height: 100vh; object-fit: cover;}
    form{display: flex; flex-direction: column;}
    input{margin-bottom: 20px; padding: 10px 20px}
    .btn-primary{background: #CCB87D; padding: 15px 20px; font-size: 1rem; font-weight: bold; color: #002F34; border: 1px solid #CCB87D; border-radius: 2px}
    .alert.alert-danger, p{ margin-bottom: 20px}

</style>
    <section>
    <div class="section__left" style="background: url('{{'/img/diplomes.webp'}}')"  width="100%";>
        <div class="text">
            <p>Bonjour,</p><br>
            <p>et bienvenue sur l'annuaire des alumnis </p>
        </div>
        
    </div>
    <div class="section__right">
    <h1 class="h3 mb-3 font-weight-normal">Identifiez-vous</h1>
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

         
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email" required autofocus>

            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <p><a>Mot de passe oublié ?</a></p>

            <button class="btn btn-lg btn-primary" type="submit"> Se connecter</button>
        </form>
    </div>
    </section>
   
{% endblock %}
