{% extends 'base.html.twig' %}

{% block title %}?{% endblock %}

{% block body %}
    <style>
    h1{text-align: center}
    .example-wrapper { margin: 3em auto; max-width: 1000px; width: 100%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

        <div class="example-wrapper">
            <h1>?</h1>
                <br><br>
              
        </div>
   
    </div>
{% endblock %}